<div id="top" class="">
  <div class="container" >
    <div class="row">

      <div class="col-md-8 col-sm-12 col-xs-12 top-content">
        <div class="col-md-2 col-sm-2 col-sm-offset-1 col-xs-3">
          <%= image_tag 'logo6.png', class: 'img-responsive', id: 'logo' %>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-9", id: 'welcome' >
          <h1>Welcome to <br />Integrated Restorations, LLC</h1>
          <h3>Ecological management for communities, organizations and land owners.</h3>
        </div>
      </div>

      <div class="col-md-4 col-sm-12 col-xs-12 home-quote">
        <blockquote>“What was unusable acreage is now thriving and profitable thanks to the work of Integrated Restorations.“ <br /><em>&mdash; John Smith, Smith Developments</em></blockquote>
      </div>

    </div>
  </div>
</div>

<div id="mid">
  <div class="container">
    <div class="row">

      <div class="col-md-4" id="services">
        <a href="#"><h3>Services</h3></a>
      </div>

      <div class="col-md-4" id="testimonials">
        <a href="#"><h3>Testimonials</h3></a>
      </div>

      <div class="col-md-4" id="jobs">
        <a href="#"><h3>Job Opportunities</h3></a>
      </div>

    </div>
  </div>
</div>


