<div id="footer">
  <div class="container">
    <div class="row">

      <div class="col-md-3 col-xs-6">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Products</a></li>
          <li><a href="#">Case Studies</li>
        </ul>
      </div>
      <div class="col-md-3 col-xs-6">
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="#">Employees</a></li>
          <li><a href="#">Job Opportunities</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-xs-12">
      <p>
        Integrated Restorations, LLC<br />
        228 S Park St<br />
        Belleville, WI 53508<br /><br />
        <i class="fa fa-phone"></i> (608) 424-6997 (office)<br />
        <i class="fa fa-mobile"></i> (608) 547-1713 (mobile)

      </p>  
      </div>
      <div class="col-md-3 col-xs-12">
        
      
        <h4><i class="fa fa-facebook-square"></i> Facebook</h4>
        <h4><i class="fa fa-twitter-square"></i> Twitter</h4>
        <h4><i class="fa fa-youtube-square"></i> YouTube</h4>
        <h4><i class="fa fa-flickr"></i> Flickr</h4>
       
      </div>
      
    </div>
    <div class="row" id="copyright" style="margin-top:20px;">
       <div class="col-md-12">
         <p>
          <%= t('.copyright', :year => Time.now.year,
                      :site_name => Refinery::Core.site_name) %>
        </p>

       </div> 

    </div>

  </div>
</div>


