$font-sans: helvetica neue,helvetica, arial, sans-serif;
$font-main: 'Roboto Slab', serif;
$gray: #3f423b;
$sky: #7f9da7;
$white: #ffffff;
$trans-white:rgba(255,255,255,.7);
$brand-green:rgba(29,131,12,1);
$lime :#acd373;
$trans-brand-green:rgba(29,131,12,.3);
$black:#000000;

h1, h2, h3 {
  font-family:$font-main;
}

p {
  line-height: 1.75em;
  color:lighten($black, 50%);
  padding-bottom:1.75em;

}

@mixin rotate($degree) {
  transform:rotate($degree);
  -ms-transform:rotate($degree); /* IE 9 */
  -webkit-transform:rotate($degree); /* Safari and Chrome */
}

#header {
  position:relative;
  border-top:8px solid darken($lime, 10%);
  height:51px;
  padding-top:6px;
  background-color:rgba(0,0,0,.8);
   z-index:100;
}

#navbar_nobg {
   position:relative;
   font-family:$font-main;
}

 #l2 img {
   margin-bottom:20px;
   box-shadow: 1px 0px 5px 1px rgba(0,0,0, .2);
 } 
 .navbar-brand {
 }

.top-content {
  background-color:rgba(0,0,0,.4);
  padding-bottom:15px;

}


#top {
  
  margin-top:0px;
  background-image:url('SedgeMeadow-AFTER2.jpg');
  background-position-x:50%;
  background-position-y:50%;
  border-bottom:20px solid rgba(255,255,255, .7);
  
  background-repeat:no-repeat;
  background-color:darken($white, 4%);
  
  // border-bottom:1px dotted lighten($black, 83%);
  padding-top:0px;
  
    h1 {
      margin-top:24px;
      font-weight:normal;
      color:$white;
      font-family: 'Roboto Slab', serif;
      text-shadow:1px 1px 1px black;
      font-size:20px;

    }
    h3 {
      color:darken($white, 0%);
      font-weight:200;
      font-size:18px;
    }
    .rline {
      height:400px;
    }
    #logo {
    margin-top:15px;
    // margin-left:58px;
    // margin-right:0;
    // margin:0px auto 0 auto !important; 
    // border:1px solid red;
    }
}

.home-quote {
  // height:80vh;
  padding-bottom:0;
  em {
    // margin-top:-40px !important;
    font-size:28px;
    font-weight:200;
    padding-top:0;
  }
  &:after {
    content:url('bubblepoint.png');
    display:block;
    float:left;
    margin-top:-23px;
    margin-left:10px;
    @include rotate(12deg);
  }
}

.home-quote blockquote {
  border-left:none;
  letter-spacing: 1px;
  background-color:#acd373;
  margin-top:20px;
  padding-bottom:0;
  // margin:0 !important;
  // padding:0 !important;
  p {
  font-family:$font-sans;
  font-weight:100;
  font-size:24px;
  color:$black;
  margin:0 !important;
  padding:0 !important;
  }
}


.no-top-margin {
  margin-top:-20px !important;
}



.home-image {
  margin-top:-9px;
  padding-top:0;
  margin-left:-15px;
  @include rotate(0deg);
  border:none;
  
  height:300px;
  box-shadow: none;
}

.navbar {
 
}

.navbar li a {
  color:$white;
  font-size:15px;
  &:hover {
    background-color:lighten($lime, 20%);
    color:black;
  }
}

a {color:$white;}

#mid {

  margin-top:20px;
  min-height:180px;

  a h3 {
    margin-top:115px;
    padding:15px;
    background-color:lighten($black, 30%);
    
    width:60%;
    border-left:5px solid $lime;
    border-bottom:1px solid $lime;
    font-size:18px;
    color:$lime;
    font-family:$font-main;
 
  }
  #services {
    border:1px solid $white;
    min-height:180px;
    background:url('home-services.jpg') center center no-repeat;
    background-size:cover;
  }
  #testimonials {
    border:1px solid $white;
    min-height:180px;
    background:url('home-testimonials.jpg') center center no-repeat;
    background-size:cover;
  }
  #jobs {
    border:1px solid $white;
    min-height:180px;
    background:url('home-jobs.jpg') center center no-repeat;
    background-size:cover;
  }
}

#l2 {
  padding-top:40px;
}

#l2-logo {
  position:relative;
  img {
    width:30px;
    position:absolute;
    top:-45px;
    z-index:120;
    left:0;
  }
}

ul.products li {
  line-height: 1.75em;
  text-indent:0;
  color:lighten($black, 50%);
}

ul.products li:before {    
font-family: 'FontAwesome';
list-style-position: inside;
content: '\f054';
margin:0 10px 0 -38px;
color: $lime;
}

.nav-pills li a {
  border-bottom:1px dotted lighten($black, 80%);
  border-radius:0;
  margin:-2px 0 0 0 !important;
  font-size:18px;
  &:hover {
    color:lighten($gray, 20%);
  }
}

.nav-pills li.last a {
  border-bottom:1px solid transparent;
}

#footer {
  border-top:1px dotted lighten($black, 83%);
  margin-top:40px;
  padding:40px;
  background-color:lighten($black, 99%);
  font-family:$font-main;
} li {
  list-style:none;

} 
  a {
    color:darken($lime, 20%);
  }

#copyright {
  color:lighten($black, 70%);
}

