/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  body {border:4px solid red;}

  #top h1 {font-size:26px;}
  #top h3 {font-size:19px;}
  #header{height:72px !important;}
  .top-content {margin-top:20px;}
  #l2-logo {
    position:relative;
  }
  #l2-logo img {
    width:50px;
    position:absolute;
    top:-50px !important;
  }

 }

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  body {border:4px solid blue;}
  #top {height:400px;padding-top:100px !important;}
  #top {background-position-y:60%;} 
  #top h1 {font-size:26px;}
  #top h3 {font-size:19px;}
  #top .top-content {
    background:rgba(0,0,0, .5);padding:10px 0 10px 0;
    min-height:160px;
  }


  .home-quote blockquote {
    font-size:18px !important;
    letter-spacing: 1px;
    min-height:160px;
  }

  .home-quote blockquote em {
    font-size:12px !important;
    font-weight:200;
  }

    #l2-logo {
    position:relative;
  
  }
  #l2-logo img {

      position:absolute;
      width:70px !important;
      top:-50px;
      left:0px;
      z-index:120;
  }


 }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  body {border:4px solid yellow;}
  #top {height:580px;padding-top:130px !important;}
  #top h1 {font-size:36px !important;}
  #top h3 {font-size:24px !important;}
  #top .top-content {
    background:rgba(0,0,0, .5);padding:10px 0 20px 0;
    height:210px;
  }

    .home-quote blockquote {
    min-height:210px;
    font-size:24px !important;
    letter-spacing: 1px;
  }

  blockquote em {
    font-size:15px;
    font-weight:200;
  }

  .navbar-brand {
    margin-left:70px;
  }
  a.navbar-brand:hover {color:#acd373;}


 }